.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform:
  /* Magic Numbers */
  translate(25px, 51px)
  /* 45 is really 360 - 45 */
  rotate(270deg);
  width: 30px;
}
th.rotate > div > span {

}

th.table-header {
  padding-top:100px
}

td.answers {
  text-align:right;
}
