<template name="moderator_lessons_list">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Lessons</li>
    </ol>
	<a type="button" href="{{pathFor "addLesson"}}"><span class="glyphicon glyphicon-plus"></span></a>
    <div class="table-responsive">
        <table class="table table-striped" id="lessonsList">
		<thead><tr>
		<th>ID</th>
		<th>School</th>
		<th>Edit</th>
	</tr>
</thead>
<tbody>
	{{#each lessons}}
	{{>moderator_lesson_item}}
	{{/each}}
</tbody>
</table>
		</div>
    <script>
        $('#lessonsList').dynatable({
          table: {
    defaultColumnIdStyle: 'trimDash'
  }
        });
    </script>
</template>
