<template name="gdsMenu">
    <ul class="nav nav-tabs">
        <li class="{{gds}}"><a href="/coordinator/gds/{{gdsNo}}">Raiting</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Results <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/coordinator/gds/answerkeys/1"> 7 Grades</a></li>
                <li><a href="/coordinator/gds/answerkeys/1"> 8 Grades</a></li>
                <li><a href="/coordinator/gds/answerkeys/1"> 9 Grades</a></li>
                <li><a href="/coordinator/gds/answerkeys/1">10 Grades</a></li>
                <li><a href="/coordinator/gds/answerkeys/1">11 Grades</a></li>
            </ul>
        </li>
        <li id="keys" class="{{keys}}"><a href="/coordinator/gds/{{no}}/keys">Answer Keys</a></li>
    </ul>
</template>
