<template name="editSchool">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{{pathFor "schoolsList"}}">Schools</a></li>
            <li class="active">Edit school</li>
        </ol>
        <div class="row">
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <label for="inputSchool">Мектептің толық атауы</label>
                        <input type="text" class="form-control" id="inputSchool"
                               placeholder="Мектеп толық атауын енгізіңіз" name='full_kz_name' value="{{full_kz_name}}">
                    </div>
                    <div class="form-group">
                        <label for="inputSchool">Мектептің қысқаша атауы</label>
                        <input type="text" class="form-control" id="inputSchool"
                               placeholder="Мектеп қысқаша атауын енгізіңіз" name='short_kz_name'
                               value="{{short_kz_name}}">
                    </div>
                    <div class="form-group">
                        <label for="inputSchool">Мектептің ағылшын тіліндегі атауы</label>
                        <input type="text" class="form-control" id="inputSchool"
                               placeholder="Мектеп ағылшын тіліндегі атауын енгізіңіз атауын енгізіңіз" name='eng_name'
                               value="{{eng_name}}">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="email" name='email'
                               value="{{email}}">
                    </div>
                    <div class="form-group">
                        <label for="inputSchoolNumber">Мектептің номері</label>
                        <input type="text" class="form-control" id="inputSchoolNumber"
                               placeholder="Мектеп номерін енгізіңіз" name='id' value="{{id}}">
                    </div>
                    <a id="cancel" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="#" class="btn btn-warning" id="resetPassword">reset password</a>
                </form>
            </div>
        </div>
    </div>
</template>
