<template name="editStudent">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{{pathFor "moderatorStudentsList"}}">Students</a></li>
        <li class="active">Edit student</li>
    </ol>
    <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                <label for="inputName">Аты</label>
                <input type="text" id="inputName" class="form-control" name='kz_name' value="{{kz_name}}">
              </div>
                <div class="form-group">
                <label for="inputSurname">Жөні</label>
                <input class="form-control" type="text" id="inputSurname" name='kz_surname' value="{{kz_surname}}">
              </div>
              <div class="form-group">
                <label for="inputSurname">Name</label>
                <input class="form-control" type="text" id="inputSurname" name='en_name' value="{{en_name}}">
              </div>
              <div class="form-group">
                <label for="inputSurname">Surname</label>
                <input class="form-control" type="text" id="inputSurname" name='en_surname' value="{{en_surname}}">
              </div>
                <div class="form-group">
                <label for="inputBirth">Туған күні</label>
                <input class="form-control" type="text" id="inputBirth" placeholder="туған күні" name='birthDate' value="{{birthDate}}">
            </div>
                <div class="form-group">
                <label for="inputGender">Жынысы</label>
                <select class="" id="inputGender" name='gender'>
                  <option value="{{gender}}">{{gender}}</option>
                  <option value="male">Ер</option>
                  <option value="female">Әйел</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputFather">Әкесінің аты</label>
                <input class="form-control" type="text" id="inputFather" placeholder="әкесінің аты" name='fathersName' value="{{fathersName}}">
            </div>
            <div class="form-group">
                <label for="inputMother">Анасының аты</label>
                <input class="form-control" type="text" id="inputMother" placeholder="анасының аты" name='mothersName' value="{{mothersName}}">
            </div>
            <div class="form-group">
                <label for="inputAddress">Мекен жайы</label>
                <input class="form-control" type="text" id="inputAddress" placeholder="адресі" name='address' value="{{address}}">
            </div>
            <div class="form-group">
                <label for="inputPhone">Телефон номері</label>
                <input class="form-control" type="text" id="inputPhone" placeholder="телефоны" name='phoneNum' value="{{phoneNumber}}">
            </div>
                <div class="form-group">
                <label for="inputGrade">Сыныбы</label>
                <select class="" id="inputGrade" name='grade'>
                    <option value="{{grade}}">{{grade}}</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                </select>
                <select class="" id="inputDivision" name='division'>
                    <option value="{{division}}">{{division}}</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                    <label for="inputGrade">Тобы</label>
                    <select class="" id="inputLang" name='lang_group'>
                        <option value="{{lang_group}}">{{lang_group}}</option>
                        <option value="kaz">KAZ</option>
                        <option value="rus">RUS</option>
                    </select>
              </div>
                <div>
                <a id="cancel" class="btn btn-sm btn-default">Cancel</a>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <a class="btn btn-sm btn-danger" id="resetPassword">Reset Password</a>
                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Transfer</a>
              </div>
        </form>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Transfer student</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="school">Transfer to</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="school" id="school">
                      {{#each schools}}
                      <option value="{{id}}">{{short_kz_name}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="transfer">Transfer</button>
            </div>
          </div>l
        </div>
      </div>
</template>
