<template name="teachersList">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Teachers</li>
    </ol>
    <div class="table-responsive">
        <select name="" id=""></select>
        <select name="" id=""></select>
        <table class="table table-striped" id="teachersList">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>School</th>
                <th>Branch</th>
                <th>Email</th>
                <th>Password</th>
                <th>
                  Edit
                </th>
            </tr>
            </thead>
            <tbody>
			{{#each teachers}}
				{{>teacherItem}}
			{{/each}}
            </tbody>
        </table>
    </div>
    <script>
        $('#teachersList').dynatable();
    </script>
</template>
